.contenedor{
    width: 300px;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding-left: 0px;
}

ul li{
    margin-top: 5px;
    margin-bottom: 5px;
}

.inputLista{
    border: 2px black solid;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
}
.inputText{
    display: flex;
}

p{
    margin: 0px;
    text-align: left;
}

.completada{
    text-decoration: line-through;
}




